<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @scene.book(force_reload = false).title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @scene.title %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @scene.outline %>
</p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to '本の詳細ページへ', book_path(@scene.book_id) %>
