<h1>BookList</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Label</th>
      <th>Year</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.category %></td>
        <td><%= book.label %></td>
        <td><%= book.year %></td>
        <td><%= link_to '詳細', book %></td>
        <td><%= link_to '編集', edit_book_path(book) %></td>
        <td><%= link_to '消去', book, method: :delete, data: { confirm: '本当によろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'form' %>

<%= link_to '本を追加する', new_book_path %>
<%= link_to 'シーン一覧へ', scenes_path %>
