<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Label:</strong>
  <%= @book.label %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @book.outline %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @book.memo %>
</p>

<hr>
<hr>
<b>シーン一覧</b>

<table>
<thead>
<tr>
  <th>Title</th>
  <th>outline</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
</thead>
<tboby>
<% if @book.scenes %>
<% for det in @book.scenes %>
<tr>
  <td><%= det.title %></td>
  <td><%= det.outline %></td>
  <td><%= link_to '詳細', det %></td>
  <td><%= link_to '編集', edit_scene_path(det) %></td>
  <td><%= link_to '消去', det, method: :delete, data: { confirm: '消去してよろしいですか？'} %></td>
</tr>
<% end %>
<% end %>
</tbody>
</table>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<%= link_to 'シーン追加', new_scene_path %>
